input, 
nav-item {
  font-weight: 200;
  line-height: 110;
}

body {
  background-color: black;
  background-image: url("fd.png");
  background-size: cover;
  background-repeat: no-repeat;

}

#nav1 {
  opacity: 0.5;
}
