input, 
nav-item {
  font-weight: 200;
  line-height: 110;
}

body {
  background-color: black;
  background-image: url("giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
}

#nav1 {
  opacity: 0.5;
}
